DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
DJANGO_SECURE_SSL_REDIRECT=0

PWA_APP_NAME=RDC Mobile
PWA_APP_SCOPE=/
PWA_START_URL=/m/
PWA_THEME_COLOR=#0b2239
